<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="howard" translate="label" sortOrder="1000000">
            <label>Howard</label>
        </tab>
        <section id="newslettercoupon" translate="label" type="text" sortOrder="130506" showInDefault="1" showInWebsite="1" showInStore="1">
          <resource>Howard_NewsletterCoupon::config</resource>
          <class>separator-top</class>
          <label>Newsletter Coupon</label>
          <tab>howard</tab>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="rule" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Rule Id</label>
                    <comment>Create a Shopping Cart Promo Rule first, and then fill in the Id of it here.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
